@import "preVariables";

/* ------------------- GENERAL -----------------------*/

.fix-margin-list-btn {
    margin-right: 5px;
}

#deviceList {
  list-style: none;
  margin-left: -40px;
}

.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs {
    text-align:center;
}

tr:last-child td {
}

.tabDetail {
    overflow-y:auto;
    overflow-x: hidden;
    height:100%;
}

.border-div {
  background-color: $accent-gray;
  border-right: 1px solid $brand-border;
  border-top: 1px solid $brand-border;
  border-left: 1px solid $brand-border;
}

.border-div:hover {
  background-color: $brand-hover;
  border: 1px solid $brand-secondary;
}

/* ------------------- LIST --------------------------*/

.list li {
  width: 100%;
  padding-left: 0 !important;
  padding-right: 5px !important;
  padding-bottom: 5px !important;
  height: 40px;
}

.list span {
  display: inline-block;
  float: left;
  width: 22%;
  height: 40px;
  padding: 10px 0px 0px 10px;
}


.list img {
  float: left;
}


.list li > .border-div {
 height: 40px;
}

.list li:last-child > .border-div {
 border-bottom: 1px solid $brand-border;
}

.list li:hover:last-child > .border-div {
 border-bottom: 1px solid $brand-secondary;
}
.list li img {
  width: 32px;
  margin-left: 5px;
}

.list-group input {
    height: 20px;
}

.list-group.list-group-root {
  padding: 0;
  border: none;
}

.list-group.list-group-root > a {
  cursor: default;
}

.list-group.list-group-root .list-group {
  margin-bottom: 0;
  text-transform: none;
  font-weight: normal;
}

.list-group.list-group-root .list-group > a {
  padding-top: 10px;
  padding-bottom: 10px;
}

.list-group.list-group-root > .list-group > .list-group-item {
  padding-left: 20px;
}



/* ------------------- GRID --------------------------*/


.grid li > .border-div {
 border-bottom: 1px solid $brand-border;
 height: 100px;
}

.grid li:hover > .border-div {
 border-bottom: 1px solid $brand-secondary;
}

.grid li {
  float: left;
  padding-left: 0 !important;
  padding-right: 5px !important;
  padding-bottom: 5px !important;
  text-align: center;
  box-sizing: border-box;
  
}

.grid li .detail {
  display:none;
}

.grid-list {
  margin-right: 5px !important;
}

.grid li:hover > .border-div {
 border-bottom: 1px solid $brand-secondary;
}

.grid .important {
  display: inline-block;
  float: left;
  width: 100%;
}

/* ------------------- CLIENT ERROR-REPORTING --------------------------*/

.client-error {
  background-color: $state-danger-bg;
  
}

.client-warning {
  background-color: $state-warning-bg;

}