@import "preVariables";

.profile-image {
    margin: -10px 10px;
    height: 40px;
}

.nav-tabs li:first-child {
    margin-left: 15px;
}

table {
    border: 1px solid $brand-border;
}
.workflow-parent:hover .workflow-button {
    display: block;
    width: 20%;
    margin-top: -40px;
}

.workflow-parent:hover .workflow-content {
    display: block;
    width: 80%;
}

.workflow-button {
    float: right;
    display: none;
    font-size: 26px;
    text-align: center;
}